body{
    margin-left: 0;
    margin-right: 0;
}

header h1{
    background-color: chocolate;
    border: black solid 4px;
    border-radius: 10px;
    margin: 4px;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    
}

section{
    background-color: rgba(243, 153, 89, 0.741);
    border: black solid 2px;
    width: 300px;
    margin: auto;
    padding: 10px;
    font-family: sans-serif;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.446);
}
p#modelo_pa{
    background-color: aliceblue;
    padding: 5px;
    border: black solid 2px;
}
#modelo_tit{
    display: block;
    font-weight: bold;
    text-align: center;   
}

p#pa_criada{
    background-color: blanchedalmond;
    border: black solid 2px;
    padding: 5px;
    font-weight: bold;
}

p#pa_txt{
    background-color: aliceblue;
    border: black solid 2px;
    padding: 5px;
}

p#buttons{
    width: 170px;
    margin: auto;
}

input#submit{
    display: inline-block;
    width: 70px;
    padding: 5px;
    margin: auto;
}

section article{
    margin: 10px;
    
}

footer p{
    
    text-align: center;
    font-style: italic;
}
