body{
    margin-left: 0;
    margin-right: 0;
}

header h1{
    background-color: chocolate;
    border: black solid 1px;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    width: 350px;
    text-align: center;
    margin-bottom: 15px;
    
}

section{
    background-color: rgba(243, 153, 89, 0.741);
    border: black solid 2px;
    width: 350px;
    margin: auto;
    font-family: sans-serif;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.446);
}

section article{
    margin: 10px;
    
}

footer p{
    text-align: center;
    font-style: italic;
}
div#form{
    padding: 5px;
}

input#submit{
    display: block;
    padding: 5px;
    width: 90px;
    margin: auto;
}

p#resultado{
    background-color: rgba(170, 155, 187, 0.686);
    border: black solid 2px;
    padding: 5px;
    font-weight: bold;
}
