body{
    margin-left: 0;
    margin-right: 0;
}

header h1{
    background-color: chocolate;
    border: black solid 4px;
    border-radius: 10px;
    margin: 4px;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    
}

section{
    background-color: rgba(243, 153, 89, 0.741);
    border: black solid 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: sans-serif;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.446);
}

section article{
    margin: 10px;
    
}

footer p{
    background-color: rgb(255, 183, 0);
    text-align: center;
    font-style: italic;
}
